html {
	height: 100%;
	background-image: url("tomat_img_0411.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
main {
	overflow: auto;
}
#mainFooter {
	background-color: #13300A;
	border-top: groove;
	height: 3.5em;
	margin: 0;
	padding: 0 0.5em 0 0.5em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.icons {
	display: block;
	text-decoration: none;
	width: 4em;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	border: red inset 2px;
}
.iconImg {
	padding: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.3em;
	border: #ffffff groove 0.3em;
}

/*Fönster för att välja bakgrund*/
.chooseBackgroundWindow {
	width: 20em;
	max-height: 25em;
	overflow: auto;
	border: outset #ffffff 0.2em;
	background-color: #FFFACf;
	border-radius: 0.5em;
	margin: 0;
	padding: 0;
	float: left;
}
.headerChooseBackgroundWindow{
	height: 3em;
	background-color: #13300A;
	border-bottom: groove;
	padding: 0.5em;
}
.iconChooseBackgroundWindow{
	height: 2.5em;
	border-radius: 0.2em;
	border: #ffffff double 0.1em;
}
.headerTextChoosenBackgroundWindow{
	color: #ffffff;
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	margin-left: 0.3em;
	vertical-align: top;
}
.imageDivs{
	display: inline-block;
	background-color: #13300A;
	margin: 0.4em;
	padding: 0.2em;
	border-radius: 0.2em;
	border:#ffffff groove 0.1em;
}
.imgsToChoose{
	vertical-align:middle;
}
.aAroundImgsToChoose{
	text-align:center;
	display:block;
}
.footerChooseBackgroundWindow {
	height: 2em;
	background-color: #13300A;
	border-top: groove;
}

